<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Xl7U-BrGhVHnzhn66Oxm3OAX4K3wt3E</string>
	<key>GCM_SENDER_ID</key>
	<string>903984955018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scalpSmart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scalp-smart-pbl-project</string>
	<key>STORAGE_BUCKET</key>
	<string>scalp-smart-pbl-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903984955018:ios:fd92c2797f4ecbd8fc7773</string>
</dict>
</plist>